<% include ../layout/header %>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10">
				<table class="table table-responsive">
					<tbody>
						<% questions.forEach(function(question) { %>
						<tr>
							<td><%= question.text %></td>
							<td>
								<a href="/admin/question/edit/<%= question.id %>">
									<button class="btn btn-warning">EDIT</button>
								</a>
								<button class="btn btn-danger delete" question-id="<%= question.id %>">DELETE</button>
							</td>
						</tr>
						<% }) %>
						<tr>
							<td colspan="2">
								<a href="/admin/question/add">
									<button class="btn btn-block btn-success">ADD QUESTION</button>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
			</div>
		</div>
	</section>
	<style>
		a:hover {
			text-decoration: none;
		}
	</style>
	<script>
		$(function() {
			

			$('.delete').click(function(){
				
				var row = $(this).parent().parent();
				
				//row.css('color','red');
				
				// delete prompt

				var deleteQuestion = confirm('Are you sure you want to delete this question?');
				
				if(deleteQuestion) {
					var id = $(this).attr('question-id');

					//make delete request

					$.ajax({
						url: '/question/' + id,
						method: 'DELETE'
					}).done(function() {
						console.log('done');
						row.remove();
					});
					
				} else {
					//row.css('color', 'black');
				}
			});
		});
	</script>
<% include ../layout/footer %>