<% include ../layout/header %>
<section>
	<div class="container">
		<form class="form-horizontal" action="/login" method="POST">
			<div class="form-group">
				<label>Email address</label>
				<input name="email" type="email" class="form-control" placeholder="Email">
			</div>
			<div class="form-group">
				<label>Password</label>
				<input name="password" type="password" class="form-control" placeholder="Password">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-success">LOGIN</button>
			</div>
		</form>
	</div>
</section>
<% include ../layout/footer %>